body{

}

.navbar-btn.btn-xs{
	margin-left: 10px;
}

#buttons{
	text-align: center
}

svg{
	border: 1px solid none;
	margin: 0 auto;
	display: block;
	cursor: crosshair;
	display: none;
}

.canvas-container{
	border: 1px solid blue;
	margin: 0 auto;
}

#page-content{
	width: 100%;
	margin: 0 auto;
	border: 1px dashed black;
}