body{
	padding-top: 60px;
	padding-bottom: 50px;
}

.alert{
	display: none;
	cursor: pointer;
}

.navbar-btn.btn-xs{
	margin-left: 10px;
}

.navbar-form{
	margin-top: 14px;
}

label.navbar-link{
	margin-left: 10px;
}

select.form-control{
	height: 22px;
	padding: 0;
	margin-left: 10px;
}

#buttons{
	text-align: center
}

svg{
	border: 1px solid none;
	margin: 0 auto;
	display: block;
	cursor: crosshair;
}

#page-content{
	width: 100%;
	margin: 0 auto;
	border: 1px dashed black;
}

#magnifier-container{
    display: none;
    position: absolute;
    z-index: 999999;
    padding: 5px;
    background-color: #faebd7;
    width: 100px;
    height: 100px;
    
    border: 1px solid #000;
    color: #fff;
}