body{
	margin-left: 10px;
	margin-right: 10px;
}

#buttons{
	text-align: center
}

.canvas-container{
	border: 1px solid red;
	margin: 0 auto;
}

#page-content{
	width: 100%;
	margin: 0 auto; 
	border: 1px dashed black;
}